<<<<<<< HEAD
.OneoracleButton {
    -fx-background-image: url("img/ワンオラクル.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}




=======
>>>>>>> 7028080e1ebaf5323ee213243bf05593d8fa2fee
